paths
teleosteens
g-infos-biomart.csv
g-nbortho-teleosteens.csv
g-paralogue-humangenes.txt
p-infos-kegg.csv
p-interactions-ensembl.csv
p-interactions-kegg.csv
p-matrice-interactions.csv
p-stats-chi2-teleosteens.csv